{%extends 'students/base.html'%}
{% load static %}
{% block styleblock %}
<link rel="stylesheet" href="{% static 'css/AddTeacher.css'%}">
{% endblock styleblock %}

{% block main-section %}
    <div class="hero">
        {% for message in messages %}
        <span class="message-alert">{{message}}</span>
        {% endfor %}
        <div class="teacher-heading">
            <h1>Register Teacher</h1>
        </div>
        <div class="form-control">
            <form method="POST" class="myform" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="umer">
                {{field.label_tag}}
                {{field}}{{field.errors | striptags}}
            </div>
            {% endfor %}
            <div class="sub-button">
                <input type="submit" value="Submit" class="submit-btn">
            </div>
            </form>
        </div>
    </div>
{% endblock main-section %}

