{% extends 'students/base.html'%}
{% load static %}
{% block styleblock %}
<link rel="stylesheet" href="{% static 'css/defaulstudents.css'%}">
{% endblock styleblock %}

{% block main-section %}
<div class="hero">
    <div class="search-form">
        <form action="" class="inner-part-form">
            <label for="class-select" id="mylabel" class="label-list">Select Class:</label>
            <select name="Class" id="class-select">
            <option value="">--Please choose an option--</option>
            <option value="Nursery">Nursery</option>
            <option value="Prep">Prep</option>
            <option value="One">One</option>
            <option value="Two">Two</option>
            <option value="Three">Three</option>
            <option value="Four">Four</option>
            <option value="Five">Five</option>
            <option value="Six">Six</option>
            <option value="Seven">Seven</option>
            <option value="Eight">Eight</option>
            <option value="9th">9th</option>
            <option value="10th">10th</option>
            </select>
            <div class="sub-button">
                <input type="submit" value="Search" class="button">
            </div>
        </form>
    </div>
    <div class="student-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Father Name</th>
                    <th>Roll No</th>
                    <th>Class</th>
                    <th>Session</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.Full_Name}}</td>
                    <td>{{student.Father_Name}}</td>
                    <td>{{student.Roll_No}}</td>
                    <td>{{student.Class}}</td>
                    <td>{{student.session}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main-section %}
