body{
    background-color: #fde9df;
   
}

.heading-title{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top:3%;
}

.option-list{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin:2% 20%;
    border:1px solid purple;
    border-radius: 20px;
    background-color:darkorchid;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    width:60%;
    padding:20px;

}
label{
    padding-top:20px;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
}
.inputfield{
    background-color: white;
    height:50px;
    border:2px solid purple;
    border-radius: 30px;
    width:300px;
    margin:5px;
    text-align: center;
}

#second{
    padding-left:10px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 40px;
}

.submit-btn{
    padding:20px 40px;
    border:1px solid black;
    border-radius:20px;
    background-color: blueviolet;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.7);
}